
// Editor styles (background, gutter, guides)

atom-text-editor, // <- remove when Shadow DOM can't be disabled
:host {
  // background-image: url(atom://0utsider-syntax/image/SishhqFHxQQ.jpg);
   background-image: url(http://cs627720.vk.me/v627720208/1704c/gXqJvJbDZv0.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

  color: @syntax-text-color;
  font-family: Hack;

  .editor--private:not(.mini) {
    background-color: @syntax-bg-dim;
  }

  .editor--private.mini {
    background-color: #333;
  }

  .line.cursor-line {
    background-color: @syntax-cursor-line;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    border-left: 2px solid @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

  .bracket-matcher .region {
    border-bottom: 1px solid @syntax-cursor-color;
    box-sizing: border-box;
    background-color: @syntax-bracket-matcher-background-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .gutter {
    .line-number {
      color: lighten(@syntax-gutter-text-color, 10%);
      -webkit-font-smoothing: antialiased;

      &.cursor-line {
        color: lighten(@syntax-gutter-text-color-selected, 10%);
        background-color: @syntax-gutter-background-color-selected;
      }
      &.cursor-line-no-selection {
        background-color: transparent;
      }

      .icon-right {
        color: @syntax-text-color;
      }
    }

  &:not(.git-diff-icon) .line-number.git-line-removed {
      &.git-line-removed::before {
        bottom: -3px;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 25px;
        border-bottom: 2px dotted fade(@syntax-color-removed, 50%);
        pointer-events: none;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @syntax-gutter-text-color-selected;
  }


}

  atom-text-editor::shadow .gutter .line-number.git-line-added {
      border-left-width: 3px;
      border-left-color: @syntax-color-added;
      padding-left: 5px;
      color: @syntax-color-added;
      font-weight: bold;
  }
  
  atom-text-editor::shadow .gutter .line-number.git-line-modified {
      border-left-width: 3px;
      border-left-color: @syntax-color-modified;
      padding-left: 5px;
      color: @syntax-color-modified;
      font-weight: bold;
  }
  atom-text-editor::shadow .gutter .line-number.git-line-removed:before {
      bottom: -5px;
      margin-top: -5px;
      border-width: 3px;
      border-left-color: @syntax-color-removed;
      color: @syntax-color-removed;
      font-weight: bold;
  }
  atom-text-editor::shadow .gutter .line-number.git-line-removed {
      color: @syntax-color-removed;
      font-weight: bold;
  }
